@page "/"
@using Frontend.Models
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
    @_message
</p>

<p>
    @_product.Name <br />
    @_product.Price <br />
</p>


@code{

    string _message = "";
    Product _product = new Product();

    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
           .WithUrl("https://localhost:7017/signalrhub")
           .Build();

        _hubConnection.On<string>("ReceiveMessage", (message) =>
        {
            _message = message;
            StateHasChanged();
        });
        
        _hubConnection.On<Product>("ReceiveProductAdd", (prod) =>
        {
            _product = prod;
            StateHasChanged();
        });

        await _hubConnection.StartAsync();
    }

}
